body {
    background-image: url('images/d2.jpg');
    background-position: center;


}

.container-fluid {
    padding: 50px;
    margin-left: 300px;
    margin-top:120px;
}

.login-container,
.register-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;

}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    width: 50%;
    margin-left: 110px;
}

@media (max-width: 768px) {
    .login-container,
    .register-container {
        margin-top: 0;
    }
}
